@import "partials/_variables";
@import "bootstrap/dist/css/bootstrap.css";

html {
  height: 100%;
}

body {
  background-color: $backgroundColour;
  height: 100%;
}

header {
  padding: 10px;
  background-color: $primaryColour;
  color: $textColour;
  margin-bottom: 30px;

  h1 {
    display: inline-block;
    color: $primaryColour;
  }

  i {
    display: inline-block;
    font-size: 30px;
    color: $textColour;
  }
}

.navbar-default {
  background-color: transparent;
  border: none;
  color: $textColour;
}

.navbar-nav {
  float: right;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: $textColour;
  border-bottom: solid 3px $textColour;
}

section {
  min-height: 750px;
}

footer {
  background-color: $secondaryColour;
  text-align: center;
  padding: 30px;
  color: $textColour;
  margin-top: 30px;
}

.navbar-default .navbar-nav > li > a {
  color: $textColour;
}

h3 {
  width: 100%;
  background-color: rgba(58, 153, 205, 0.7);
  color: $textColour;
  padding: 10px;
  font-weight: bold;
  margin: 0px;
  cursor: pointer;
}

input[type="text"] {
  width: 100%;
  border: solid 1px lightgrey;
  height: 45px;
  padding: 10px;
  outline: none;
}

button {
  height: 45px;
  background-color: $secondaryColour;
  color: $secondaryColour;
  border: none;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 20px;
}

.m-t-30 {
  margin-top: 30px;
}
.relative {
  position: relative;
}

.float-right {
  float: right;
}
.card-container {
  border: solid 1px lightgrey;
  border-top: 10px solid $secondaryColour;
  margin-top: 30px;
  margin-left: 5px;
  padding: 15px;
}

.card-container:hover {
  box-shadow: 5px 5px 2.5px #888888;
  cursor: pointer;
}

.btn-success {
  background-color: $secondaryColour;
  width: 100%;
  border-radius: 0px;
  border: none;
  margin-top: 30px;
  padding: 15px;
  font-size: 19px;
  font-weight: bold;
}

.btn-success:hover {
  background-color: darkgray;
}

.col-sm-12 {
  padding: 0px;
}

img {
  border-radius: 10px;
}

h4 {
  color: $secondaryColour;
}

.about-supporting {
  border: solid 1px darkgray;
  padding: 20px;
}

.error {
  color: red;
  display: none;
}
